# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


trigger: 
- 'none'

pool: 'Default'    # self-hosted agent  

steps:
- checkout: self
  displayName: 'Checkout'

- task: CmdLine@2
  displayName: Build twincat 3 library / run unit tests 
  condition: succeeded()
  inputs:
        failOnStderr: true
        script: '"C:\source\repos\TcRelease\TcBuild.exe" -v "$(System.DefaultWorkingDirectory)\Testing.sln" -p Testing -l Tc3_Testing -o "$(Build.ArtifactStagingDirectory)"'
        
- task: PublishTestResults@2
  displayName: Publish results
  condition: or(succeeded(),failed())
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(Build.ArtifactStagingDirectory)/report*.xml'
    testRunTitle: 'Test-Run'
    buildPlatform: 'Twincat 3'

- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'github.com_PeterZerlauth'
    repositoryName: 'PeterZerlauth/Testing'
    action: 'create'
    target: '$(Build.SourceVersion)'
    tagSource: 'userSpecifiedTag'
    tag: '0.0.0.7'
    title: 'Tc3_Testing.library'
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'


