    div {
    }

    body {
        padding: 0px 0px 0px 16px;
        background: #ffffff;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
        margin-right: 14px;
        text-align: left;
        font-size: 9pt;
        font-weight: 400;
    }

    .header {
        padding: 40px;
        text-align: center;
        background: #EF0000;
        color: white;
        font-size: 30px;
    }

    ul.breadcrumb {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
    }

    li.breadcrumb {
	    float: left;
	    display: block;
	    padding: 12px;
	    font-size: 14px;
    }

    li.breadcrumb:hover {
	    background-color: #ef0000;
	    color: white;
    }

    li.breadcrumb a:hover {
	    color: white;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }

    h1 {
        font-size: 145%;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    h2 {
        font-size: 130%;
        margin-top: 1em;
        margin-bottom: .6em;
    }

    h3 {
        font-size: 115%;
        margin-top: 1em;
        margin-bottom: .6em;
    }

    h4 {
        font-size: 100%;
        margin-top: 1em;
        margin-bottom: .6em;
    }

    p,
    tr p,
    td p {
        margin-top: -0.01pt;
        margin-bottom: 0.6em;
        text-align: left;
        color: #000000;
    }

    u {
        text-decoration: underline;
        text-align: left;
        color: #000000;
    }

    a:link {
        color: #0066ff;
    }

    a:visited {
        color: #996600;
    }

    a:hover {
        color: #cc9900;
    }

    ul,
    ul ul,
    ul ul ul,
    ul ul ul ul,
    ol,
    ol ol,
    ol ol ol,
    ol ol ol ol {
        margin-top: 0.3em;
        margin-bottom: 1.5em;
        margin-left: 3em;
        text-align: left;
        list-style-position: outside;
        color: #000000;
    }

    ol,
    ol ol,
    ol ol ol,
    ol ol ol ol {
        list-style-type: decimal;
    }

    ul,
    ul ul,
    ul ul ul,
    ul ul ul ul {
        list-style-type: disc;
    }

    li {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
        color: #000000;
    }

    table {
        width: 50%;
        background: #999999;
        margin-top: .6em;
        margin-bottom: .3em;
        border: 1px solid gray;
        border-radius: 5px;
    }

    th {
        width: 20%;
        padding: 4px 8px;
        background: #cccccc;
        text-align: left;
        font-size: 9pt;
        vertical-align: bottom;
    }

    td {
        padding: 4px 8px;
        background: #ffffff;
        vertical-align: top;
        font-size: 9pt;
    }

    td:hover {
        background: #eeeeee
    }

    .information {
        padding: 3px;
        border: 2px solid gray;
        border-radius: 5px;
    }

    .information h2 {
        text-align: center;
        color: white;
        background-color: #00A3D4;
    }

    .information p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }

    .information a {
        text-decoration: none;
        color: #008CBA;
    }

    .warning {
        padding: 3px;
        border: 2px solid gray;
        border-radius: 5px;
    }

    .warning h2 {
        text-align: center;
        color: black;
        background-color: #FFF319;
    }

    .warning p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }

    .warning a {
        text-decoration: none;
        color: #008CBA;
    }

    .hazard {
        padding: 3px;
        border: 2px solid gray;
        border-radius: 5px;
    }

    .hazard h2 {
        text-align: center;
        text-transform: uppercase;
        color: white;
        background-color: #DD2B1C;
    }

    .hazard p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }

    .hazard a {
        text-decoration: none;
        color: #008CBA;
    }

    .project-contents .type0 {
        text-indent: 10px;
    }

    .project-contents .type1 {
        text-indent: 30px;
    }

    .project-contents .type2 {
        text-indent: 70px;
    }

    .standardborder {
        width: 50%;
        border-top: 3px solid gray;
        border-bottom: 3px solid gray;
        padding: 5;
        margin-top: .6em;
        margin-bottom: .3em;
    }